<div class="jumbotron text-white text-center m-0 p-0 py-3">
  <div class="container">
    <h1 class="display-4">Witam wszystkich </h1>
    <p class="lead">
      Ta strona jest stworzona dla rezerwowania miejsca na wizytę do
      Uniwersytetu Opolskiego
    </p>
    <hr class="my-4" />
    <p>
      Na dole znajdziesz instrukcje, jak korzystać z naszej strony. Jeżeli znasz
      jak, naciśnij przycisk.
    </p>
    <p class="lead pt-3">
      <a class="btn btn-primary btn-lg"  [routerLink]="['reservation']" role="button">Przejdź do rezerwacji</a>
    </p>
  </div>
</div>

<div style="background-color: #eef2f3">
  <div class="container py-5 px-5">
    <div class="row justify-content-around">
      <div class="card  col-lg-3 col-md-5">
        <i class="card-img-top fa fa-user-plus fa-5x text-center"></i>
        <div class="card-body">
          <h5 class="card-title">Utwórz konto</h5>
          <p class="card-text">
            Konto jest niezbędne żeby zarezerwować mejsce.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Przejdź do rejestracji</li>
          <li class="list-group-item">Wypelnij formę</li>
          <li class="list-group-item">Do ciebie zostanie wysłany mail, kliknij aby potwierdzić</li>
        </ul>
        <div class="card-body text-center ">
          <a href="#" class="card-link">Zarejestruj się</a>
        </div>
      </div>
      <div class="card col-lg-3 col-md-5">
        <i class="card-img-top fa fa-user fa-5x text-center"></i>
        <div class="card-body">
          <h5 class="card-title">Zaloguj się</h5>
          <p class="card-text">
            Zarejestrowany użytkownik ma szerszy zakres funkcji.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Przejdź do logowania</li>
          <li class="list-group-item">Wypelnij formę</li>
          <li class="list-group-item">
             Zanim wejdziesz, musisz potwierdzić konto mailem</li>
        </ul>
        <div class="card-body  text-center">
          <a href="#" class="card-link">Zaloguj się</a>
        </div>
      </div>
      <div class="card col-lg-3 col-md-5 ">
        <i class="card-img-top fa fa-calendar fa-5x text-center pt-1"></i>
        <div class="card-body">
          <h5 class="card-title">Zarezerwuj miejsce</h5>
          <p class="card-text">
            Rezerwacja to oszczędność czasu
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Przejdź do  rezerwacji</li>
          <li class="list-group-item">Wybierz dzień miesiąca oraz godzinę </li>
          <li class="list-group-item">Do ciebie zostanie wysłany mail z potwierdzeniem </li>
        </ul>
        <div class="card-body text-center">
          <a href="#" class="card-link">Zarezerwować miejsce</a>
        </div>
      </div>
    </div>
  </div>
</div>



