.page-body{
  background-color: white;
}

.jumbotron{
  background-color: #54a5da;
  border-radius: 0;
  border-bottom: 5px solid #6690a8;
}

h5{
  color: #3283b8;
}

.card-img-top{
  color: #3283b8;
}
