<div class="mapouter">
  <div class="gmap_canvas">
    <iframe
      width="100%"
      height="400"
      id="gmap_canvas"
      src="https://maps.google.com/maps?q=Uniwersytet%20Opolski&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    ></iframe
    >
  </div>
  <style>
    .mapouter {
      position: relative;
      text-align: right;
      height: 400px;
      width: 100%;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 400px;
      width: 100%;
    }
  </style>
</div>

<div class="container ">
    <div class=" row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class=" card card-signin  mb-5 mt-5" >
          <div class=" card-body " >
            <h5 class="card-title text-center">Skontaktuj się z nami</h5>
            <form
              class="form-signin"
              (ngSubmit)="onSubmit()"
            >
              <div class="form-label-group">
                <input
                  type="text"
                  id="inputEmail"
                  formControlName="username"
                  class="form-control"
                  placeholder="Email"
                  spellcheck="false"
                />
                <label for="inputEmail">Email</label>

              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="inputName"
                  formControlName="password"
                  class="form-control"
                  spellcheck="false"
                  placeholder="Imie"
                />
                <label for="inputName">Imie</label>
              </div>

              <div class="form-label-group">
                  <input
                    type="text"
                    id="inputPhone"
                    formControlName="password"
                    class="form-control"
                    spellcheck="false"
                    placeholder="Imie"
                  />
                  <label for="inputPhone">Numer telefonu</label>
                </div>
                <div class="form-label-group">
                   ​<textarea id="Tekst" rows="5" spellcheck="false"  ></textarea>
                  </div>


              <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block text-uppercase">
                      Wyslij
                  </button>

                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
